In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\mama\appdata\local\programs\python\python38\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\mama\appdata\local\programs\python\python38\lib\site-packages (from mysql-connector-python) (4.21.12)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import mysql.connector as connector

In [3]:
connection = connector.connect(user = "admin", password = "Admin_123")

In [4]:
cursor = connection.cursor()
cursor.execute("USE littlelemondb") 
show_tables_query = "SHOW tables;" 
cursor.execute(show_tables_query)
result = cursor.fetchall()
print('table name')
for r in result:
    print(r[0])

table name
bookings
contactdetails
customerdetails
menuitems
menus
orderdeliverystatus
orders
ordersview
staffinformation

In [12]:
show_tables_query = '''select customerdetails.FullName , contactdetails.ContactNumber,orders.TotalCost as PaidAmount
                        from orders inner join Bookings on Orders.BookingID=Bookings.BookingID inner join customerdetails
                        on Bookings.CustomerDetailsID=customerdetails.CustomerDetailsID inner join contactdetails
                        on customerdetails.CustomerDetailsID=contactdetails.CustomerDetailsID
                        where orders.TotalCost > 70 ''' 
cursor.execute(show_tables_query)
results = cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result[0],result[1],result[2])

('FullName', 'ContactNumber', 'PaidAmount')
Vanessa McCarthy 34558879 250.00
Anna Iversen 22558879 200.00
Marcos Romero 34888879 150.00
Hiroki Yamane 333558879 110.00